[submodule "externals/puppet-syntax-emacs"]
	path = externals/puppet-syntax-emacs
	url = https://github.com/puppetlabs/puppet-syntax-emacs.git
[submodule "externals/tern"]
	path = externals/tern
	url = https://github.com/marijnh/tern.git
[submodule "externals/mapserver-emacs-mode"]
	path = externals/mapserver-emacs-mode
	url = https://github.com/AxxL/mapserver-emacs-mode.git
